<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello from home page.</h1>
    <% if (locals.id) { %>
     <p>URL generated : http://localhost:8001/url/<%= id %></p>
    <% } %>
    <form method="POST" action="/url/">
        <label>Enter URL of a website: </label>
        <input type="text" name="url" placeholder="https://www.google.com">
        <button type="submit">Generate URL</button>
    </form>
</body>
</html>